<!DOCTYPE HTML>
<! meta >
<html lang="en">
    <link href="../../../styles/pages.css" rel="stylesheet" type="text/css" />
    <title>Template</title>
    <link rel="icon" type="../../../images/logo.png" href="../../../styles/images/logo.png">
    <meta charset="utf-8" />
    <meta name="author" content="Jordan Weighell" />
    <meta name="description" content="Template" />
<! meta >
<! java >
<! java >
<! body> <body>
<! header > <header class="content-header">
    <div class="logo"><img src=../../../styles/images/logo.png></div>
    <h1>Elysian Vow</h1>
<! header > </header>
    
<! navbar > <navbar class="content-navbar">
    <div class="navbar" id="myTopnav">
            <div class="dropdown">
                <button class="dropbtn">Explore <i class="arrow down"></i>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../../../index.html">Home</a>
                    <a href="../../../about.html">About</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Scholar's Codex <i class="arrow down"></i>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../../../codex/characters.html">Characters</a>
                    <a href="../../../codex/locations.html">Locations</a>
                    <a href="../../../codex/inhabitants.html">Inhabitants</a>
                    <a href="../../../codex/factions.html">Factions</a>
                    <a href="../../../codex/magic.html">Magic</a>
                    <a href="../../../codex/religion.html">Religion</a>
                    <a href="../../../codex/history.html">History</a>
                    <a href="../../../codex/armour.html">Armour</a>
                    <a href="../../../codex/weapons.html">Weapons</a>
                    <a href="../../../codex/artistry.html">Artistry</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Tales of Farron <i class="arrow down"></i>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../../../tales.html">Tales</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Devlogs <i class="arrow down"></i>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../../../logs.html">Devlogs</a>
                </div>
            </div>
    </div>
<! navbar > </navbar>  
    
<! main > <main class="content-main">
    <div class="entry" id="heading" >
        <h2>Insert Title</h2> 
             <p class="p3">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor."</p> <h6>Signature/Date</h6>
        <h3 id="background">Background</h3>  
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
            <h6>Signature/Date</h6>
        <h3 id="entries">Entries</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
            <h6>Signature/Date</h6>
        <h3 id="notes">Notes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
            <h6>Signature/Date</h6>
    </div>
        <h3 id="imagery">Imagery</h3>
            <div class="gallery">
                <div class="gallery-item">
                  <a target="_blank" href="../../../styles/images/placeholder.png">
                    <img src="../../../styles/images/placeholder.png"  width="600" height="400">
                  </a>
                  <div class="desc">Placeholder</div>
                </div>

                <div class="gallery-item">
                  <a target="_blank" href="../../../styles/images/placeholder.png">
                    <img src="../../../styles/images/placeholder.png"  width="600" height="400">
                  </a>
                  <div class="desc">Placeholder</div>
                </div>

                <div class="gallery-item">
                  <a target="_blank" href="../../../styles/images/placeholder.png">
                    <img src="../../../styles/images/placeholder.png" width="600" height="400">
                  </a>
                  <div class="desc">Placeholder</div>
                </div>

                <div class="gallery-item">
                  <a target="_blank" href="../../../styles/images/placeholder.png">
                    <img src="../../../styles/images/placeholder.png" width="600" height="400">
                  </a>
                  <div class="desc">Placeholder</div>
                </div>
            </div>
<! main > </main>

<! sidebar > <aside class="content-sidebar"> 
    <div class="category" id="category">
        <h4>Place for Category</h4>
    </div>
    <div class="category" >
        <h5>Place for Name</h5>
    </div>
        <div class="profile"><img src=../../../styles/images/placeholder.png style="width:240px;height:336px;"></div>
    <div class="detail" id="details" >
        <div class="title" >
            <p class="p1">Title</p>
        </div>
        <div class="info" >
            <p class="p2">Placeholder</p>  
            <p class="p2">Placeholder</p>
            <p class="p2">Placeholder</p>
        </div>       
    </div>
    <div class="detail" >
        <div class="title" >
            <p class="p1">Writer</p>
        </div>
        <div class="info" >
            <p class="p2"></p>  
        </div>       
    </div>
    <div class="detail" >
        <div class="title" >
            <p class="p1">Origin</p>
        </div>
        <div class="info" >
            <p class="p2"></p>  
        </div>       
    </div>
    <div class="detail" >
        <div class="title" >
            <p class="p1">Date</p>
        </div>
        <div class="info" >
            <p class="p2"></p>  
        </div>       
    </div>
    <div class="contents">
        <ol>
            <li> <a href="alexis-venan.html#category" class="link">-Category</a> </li>
        <ol><li> <a href="alexis-venan.html#details" class="link">-Details</a> </li></ol>
            <li> <a href="alexis-venan.html#heading" class="link">-Heading</a> </li>
        <ol><li> <a href="alexis-venan.html#background" class="link">-Background</a> </li>
            <li> <a href="alexis-venan.html#entries" class="link">-Entries</a> </li>
            <li> <a href="alexis-venan.html#notes" class="link">-Notes</a> </li>
            <li> <a href="alexis-venan.html#imagery" class="link">-Imagery</a> </li></ol> 
        </ol>    
    </div>
<! sidebar > </aside>    
    
<! footer > <footer class="content-footer">
    <div class="footertext" > 
         <pf>Property of J.A.W.</pf>
         <pf>Contact email: Elysianvow@gmail.com</pf> 
     </div>
    <div class="footerlinks">  
          <a class="icon" href="https://elysian-vow.github.io/"><img src="../../../styles/images/logo.png" style="width:32px;height:32px;"></a>
          <a class="icon" href="https://github.com/Elysian-Vow"><img src="../../../styles/images/github.png" style="width:32px;height:32px;"></a>
          <a class="icon" href="https://www.youtube.com/@Autumn_Alone"><img src="../../../styles/images/youtube.png" style="width:32px;height:32px;"></a>
          <a class="icon" href="https://linktr.ee/Autumn_Alone"><img src="../../../styles/images/linktree.png" style="width:32px;height:32px;"></a>
      </div>
    <h10 class="copyright"> &copy; 2025 Elysian Vow</h10>
<! footer > </footer>    
<! body> </body>