/*Grid*/
body {
    
    background-color: #161616;
    padding: 10px;
    
    display:grid;
    
    grid-template-columns:1fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        'header header'
        'navbar navbar'
        'sidebar main'
        'footer footer';
}
.content-header {
    grid-area: header;
    padding: 1.25rem;
    background-image: url(images/header.jpg);
    border: 2px solid black;
}
.content-navbar {
    grid-area:navbar;
    padding: 0.50rem;
    background-image: url(images/background.jpg);
    border: 2px solid black;
}
.content-main {
    grid-area: main;
    padding: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #282B2D;
    border: 2px solid black;
}
.content-sidebar {
    grid-area: sidebar;
    padding: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #282B2D;
    border: 2px solid black;
}
.content-footer {
    grid-area: footer;
    padding: 1rem;
    align-content: center;
    text-align: center;
    background-color: #282B2D;
    border: 2px solid black;
}
/*Grid*/
/*Header*/
h1 {
    display: flex;
    justify-content: flex-start;
    float: left;
    line-height: 3;
    max-width: inherit;
    min-width: inherit;
    max-height: inherit;
    min-height: inherit;
    margin: 0 auto;
    padding-left: 2rem;
    color:  #faf9f6;
    font-size: 3rem;
    font-family: Garamond, serif;
}
.logo {
    display:flex;
    justify-content: flex-start;
    float: left;
    line-height: 1.5;
    max-width: 10rem;
    height: 10rem;
    margin: 0 auto;
    border: 2px solid black;
    text-indent: -9999px;
}
/*Header*/
/*Nav*/
.navbar a {
  float: left;
  display: block;
  color: #faf9f6;
  text-align: center;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 18px;
  font-family: Garamond, serif;
}
.dropdown {
  float: left;
  overflow: hidden;
  margin-left: 12px;
  max-height: inherit;
  min-height: inherit;
  max-width: inherit;
  min-width: inherit;
}
.dropdown .dropbtn {
  font-size: 1.25rem;
  color: white;
  padding: 1rem;
  border-color: black;
  outline: none;
  min-width: 12rem;
  max-width: 15rem;
  min-height: inherit;
  background-color: inherit;
  font-family: Garamond, serif;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #161616;
  border-radius: 10px;
  border-bottom: 3px solid #c9bd92;
  min-width: 12rem;
  max-width: 15rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  font-size: 1rem;
  text-align: center;
  border: solid 0.5px black;
  border-radius: 10px;
  color: #faf9f6;
  text-decoration: none;
  display: block;
}
.topnav a:hover, .dropdown:hover .dropbtn {
  text-decoration-line: underline;
  color: white;
}
.dropdown-content a:hover {
  background-color: #c9bd92;
  color: black;
  border-radius: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 10px;
}
.arrow {
  border: solid white;
  border-width: 0 2px 1px 0;
  display: inline-block;
  padding: 3px;
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/*Nav*/
/*Main*/
h2 {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0.50rem;
    color: #faf9f6;
    font-size: 2rem;
    font-family: Garamond, serif;
}
h3 {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 5px;
    color: #faf9f6;
    font-size: 1.5rem;
    font-family: Garamond, serif;
    border-bottom: 2px solid black;
}
h4 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
    color: #faf9f6;
    font-size: 1.5rem;
    font-family: Garamond, serif;
}
h5 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5px;
    line-height: 1.5;
    padding: 5px;
    color: #faf9f6;
    font-size: 1.25rem;
    font-family: Garamond, serif;
}
h6 {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    margin-right: 10rem;
    padding: 10px;
    color: #faf9f6;
    font-style: italic; 
    font-size: 0.75rem;
    font-family: Trebuchet MS, sans-serif;   
}
p {
    color: #faf9f6;
    padding: 5px;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 1rem;
    font-family: Times New Roman, serif;
}
.p1 {
    color: #faf9f6;
    padding: 5px;
    max-width: 5rem;
    margin: 5px;
    overflow: hidden;
    font-size: 1rem;
    font-weight: bold; 
    font-family: Garamond, serif;
}
.p2 {
    color: #faf9f6;
    padding: 5px;
    max-width: 15rem;
    overflow: hidden;
    margin: 5px;
    font-size: 1rem; 
    font-family: Times New Roman, serif;
}
.p3 {
    text-align: center;
    color: white;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    font-size: 14px;
    font-style: italic;
    font-family: Trebuchet MS, sans-serif;
}
div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 5px;
    margin-top: 1rem;
}
div.gallery-item {
    margin: 10px;
    border: 2px solid black;
    width: calc(25% - 20px);
    box-sizing: border-box;
}
div.gallery-item:hover {
    border: 1px solid #c9bd92;
}
div.gallery-item img {
    width: 100%;
    height: auto;
}
div.gallery-item div.desc {
    padding: 10px;
    text-align: center;
}
    @media only screen and (max-width: 768px) {
    div.gallery-item {
    width: calc(50% - 20px);
}
    }
    @media only screen and (max-width: 480px) {
    div.gallery-item {
    width: calc(100% - 20px);
      }
}
/*Main*/
/*Sidebar*/
.category {
    display: block;
    min-width: auto;
    max-width:auto;
    min-height: 2rem;
    max-height: inherit;
    background-image: url(images/background.jpg);
    padding: 0.50rem;
    border: 2px solid black;
}
.profile {
    display:flex;
    justify-content: center;
    line-height: 1.5;
    max-width: auto;
    padding: 5px;
    height: auto;
    margin: 0 auto;
    background-image: url(images/background.jpg);
    border: 2px solid black;
}
.detail {
    display: flex;
    margin: 0 auto;
    min-width: auto;
    max-width: auto;
    min-height: 2rem;
    max-height: inherit;
    border: 2px solid black;
}
.title {
    display: block;
    height: inherit;
    min-width: 29%;
    max-width: auto;
    text-align: end;
    overflow: hidden;
    background-image: url(images/background.jpg);
    border-right: 2px solid black;
}
.info {
    display: block;
    overflow: hidden;
    max-width: auto;
    min-width:auto;
    background-color: #282B2D;
}
.contents {
    display: block;
    height: inherit;
    max-width: auto;
    background-image: url(images/background.jpg);
    border: 2px solid black;
}  
.link {
    color:  #faf9f6;
    text-decoration: none;
}
.link:hover {
    color: #c9bd92;
}
ol {
    padding: 10px;
    margin: 10px;
    background-color: #282B2D;
    border: 2px solid black;
}
li {
    display: flex;
    justify-content: flex-start;
    padding:5px;
    margin-right: 10px;
    font-size: 1rem;
}
/*Sidebar*/
/*Footer*/
.footertext {
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    color: #faf9f6;
    padding: 10px;
}
.footerlinks { 
    text-align: center; 
    padding: 5px;
}
.icon {
    padding: 10px;
}
.copyright {
    text-align: inherit;
    font-family: cursive;
    font-family: Times New Roman, serif;
    font-size: 12px;
    margin: 2rem;
    color: #faf9f6;
}
/*Footer*/