/*Grid*/
body {
    
    background-color: #161616;
    padding: 10px;
    
    display:grid;
    
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        'header header header header'
        'navbar navbar navbar navbar'
        'main mainb mainc maind'
        'maine mainf maing mainh'
        'footer footer footer footer';
}
.content-header {
    grid-area: header;
    padding: 1.25rem;
    background-image: url(images/header.jpg);
    border: 2px solid black;
}
.content-navbar {
    grid-area:navbar;
    padding: 0.50rem;
    background-image: url(images/background.jpg);
    border: 2px solid black;
}
.content-main {
    grid-area: main;
    padding: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #282B2D;
    border: 2px solid black;
}
.content-mainb {
    grid-area: mainb;
    padding: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #282B2D;
    border: 2px solid black;
}
.content-mainc {
    grid-area: mainc;
    padding: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #282B2D;
    border: 2px solid black;
}
.content-maind {
    grid-area: maind;
    padding: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #282B2D;
    border: 2px solid black;
}
.content-maine {
    grid-area: maine;
    padding: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #282B2D;
    border: 2px solid black;
}
.content-mainf {
    grid-area: mainf;
    padding: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #282B2D;
    border: 2px solid black;
}
.content-maing {
    grid-area: maing;
    padding: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #282B2D;
    border: 2px solid black;
}
.content-mainh {
    grid-area: mainh;
    padding: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #282B2D;
    border: 2px solid black;
}
.content-footer {
    grid-area: footer;
    padding: 1rem;
    align-content: center;
    text-align: center;
    background-color: #282B2D;
    border: 2px solid black;
}
/*Grid*/
/*Header*/
h1 {
    display: flex;
    justify-content: flex-start;
    float: left;
    line-height: 3;
    max-width: inherit;
    min-width: inherit;
    max-height: inherit;
    min-height: inherit;
    margin: 0 auto;
    padding-left: 2rem;
    color:  #faf9f6;
    font-size: 3rem;
    font-family: Garamond, serif;
}
.logo {
    display:flex;
    justify-content: flex-start;
    float: left;
    line-height: 1.5;
    max-width: 10rem;
    height: 10rem;
    margin: 0 auto;
    border: 2px solid black;
    text-indent: -9999px;
}
/*Header*/
/*Nav*/
.navbar a {
  float: left;
  display: block;
  color: #faf9f6;
  text-align: center;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 18px;
  font-family: Garamond, serif;
}
.dropdown {
  float: left;
  overflow: hidden;
  margin-left: 12px;
  max-height: inherit;
  min-height: inherit;
  max-width: inherit;
  min-width: inherit;
}
.dropdown .dropbtn {
  font-size: 1.25rem;
  color: white;
  padding: 1rem;
  border-color: black;
  outline: none;
  min-width: 12rem;
  max-width: 15rem;
  min-height: inherit;
  background-color: inherit;
  font-family: Garamond, serif;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #161616;
  border-radius: 10px;
  border-bottom: 3px solid #c9bd92;
  min-width: 12rem;
  max-width: 15rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  font-size: 1rem;
  text-align: center;
  border: solid 0.5px black;
  border-radius: 10px;
  color: #faf9f6;
  text-decoration: none;
  display: block;
}
.topnav a:hover, .dropdown:hover .dropbtn {
  text-decoration-line: underline;
  color: white;
}
.dropdown-content a:hover {
  background-color: #c9bd92;
  color: black;
  border-radius: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 10px;
}
.arrow {
  border: solid white;
  border-width: 0 2px 1px 0;
  display: inline-block;
  padding: 3px;
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/*Nav*/
/*Main*/
h2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    color: #faf9f6;
    font-size: 1.5rem;
    font-family: Garamond, serif;
}
p {
    color: #faf9f6;
    padding: 1rem;
    padding-bottom: 0rem;
    text-align: center;
    font-size: 1rem;
    font-family: Times New Roman, serif;
}
.face {
    display:flex;
    justify-content: center;
    line-height: 1.5;
    max-width: 15rem;
    height: 15rem;
    margin: 0 auto;
    border: 2px solid black;
}
.link {
    display: flex;
    justify-content: center;
    padding: 15px;
    min-width: 100%;
    max-width: inherit;
    max-height: inherit;
    min-height: inherit;
    font-size: 1rem;
    color:  #faf9f6;
    background-color: #161616;
    border: 1px solid black;
}
a {
    text-decoration: none;
}
.link:hover {
    background-color: #c9bd92;color: #161616;
}
.profile {
    background-image: linear-gradient(to bottom, #065465, #161616);
    border: 2px solid black;
    height: 35rem;
}
.profile2 {
    background-image: linear-gradient(to bottom, #CFB53B, #161616);
    border: 2px solid black;
    height: 35rem;
}
.profile3 {
    background-color: #282B2D;
    border: 2px solid black;
    height: 35rem;
}
/*Main*/
/*Footer*/
.footertext {
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    color: #faf9f6;
    padding: 10px;
}
.footerlinks { 
    text-align: center; 
    padding: 5px;
}
.icon {
    padding: 10px;
}
.copyright {
    text-align: inherit;
    font-family: cursive;
    font-family: Times New Roman, serif;
    font-size: 12px;
    margin: 2rem;
    color: #faf9f6;
}
/*Footer*/